a {
    text-decoration: none;
    color: white;
}

.navbar {
    background-color: orange;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
    gap: 20%;
    padding-right: 50px;
}

.navbar__title {
    font-size: 2rem;
}

.login {
    padding: 20px;
}

.purchases {
    padding: 20px;
}

.cart {
    padding: 20px;
}

.logo__container {
    display: flex;
    width: 15%;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.image__commerce {
    max-width: 70px;
}